@using STAR.Web.Models;
@model SkillModel

<h2>Skills</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false);

    <div class="form-horizontal">
        @*@Html.ValidateFor(x => x.SkillName)*@
        <div class="form-group row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(m => m.SkillName)
                @Html.TextBoxFor(m => m.SkillName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @*@Html.ValidateFor(x => x.Description)*@
            <div class="col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { maxlength = 256, @class = "form-control", rows = 4, placeholder = "Max length 256 characters" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                <button type="button" class="btn btn-default pull-right margin-right">Cancel</button>
            </div>
        </div>
    </div>
    }