@model IEnumerable<Skill>

<h2>Skills</h2>

<a href="@Url.Action("Details")" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>
</a>

@if ((Model ?? new Skill[] { }).Any())

 
{
    <p>There are @Model.Count() Skills</p>
    <ul>
        @foreach (Skill s in Model.OrderBy(s => s.Name))





        {
            <li><strong>@s.Name</strong> - @s.Description</li>
            }
        </ul>
        }
else
{
    <p>There are no skills!  @Html.ActionLink("Add one!", "Details")</p>
}