@model IEnumerable<Skill>

<h2>Skills 
    <a href="@Url.Action("Details")" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</h2>


@if ((Model ?? new Skill[] { }).Any()){
    <p>There are @Model.Count() Skills</p>
}
else
{
    <p>There are no skills!  @Html.ActionLink("Add one!", "Details")</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
        </th>
    </tr>
    @foreach(Skill s in Model.OrderBy(s => s.Name)) {
        <tr>
            <td>
                <strong>@Html.DisplayFor(m => s.Name)</strong>
            </td>
            <td>
                @Html.DisplayFor(m => s.Description)
            </td>
            <td>
                @Html.ActionLink("Update", "Details", new { id = s.SkillId }) |
                @Html.ActionLink("Delete", "Delete", new { id = s.SkillId })

            </td>
        </tr>
    }
</table>

@*<ul>
        @foreach(Skill s in Model.OrderBy(s => s.Name)) {
            <li><strong>@s.Name</strong> - @s.Description</li>
            }
    </ul>*@