@model IEnumerable<Skill>


<h2>
    Skills
    <a href="@Url.Action("Details")" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</h2>


@if((Model ?? new Skill[] { }).Any()) {
    <p><strong>@Model.Count()</strong> Total Skills</p>
}
else {
    <p>No Skills have been added.  @Html.ActionLink("Add one!", "Details")</p>
}

@foreach(var skill in Model) {
    <div class="modal fade" id="con-@skill.SkillId" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@Html.DisplayFor(s => skill.Name)</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <p><strong>@Html.DisplayNameFor(model => model.Description)</strong>: @Html.DisplayFor(s => skill.Description)</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Email</button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Assign</button>
                </div>
            </div>
        </div>
    </div>
    }


<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th style="width:65%;">@Html.DisplayNameFor(model => model.Description)</th>
        <th class="text-center">Quick View</th>
        <th></th>
    </tr>

    @foreach (Skill skill in Model.OrderBy(skill => skill.Name))
            {
        <tr>
            <td><strong>@Html.DisplayFor(n => skill.Name)</strong></td>
            <td class="td" style="width:65%;">@Html.DisplayFor(d => skill.Description)</td>
            <td class="text-center">
                <span class="glyphicon glyphicon-eye-open quick-view" data-toggle="modal" data-target="#con-@skill.SkillId"></span>
            </td>
            <td>
                @Html.ActionLink("Edit", "Details", new { id = skill.SkillId}) |
                @Html.ActionLink("Delete", "Delete", new { id = skill.SkillId })
            </td>
        </tr>
    }
</table>