@model IEnumerable<Contractor>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
    </tr>

    @foreach (var contractor in Model) {
        <tr>
            <td>
                @Html.DisplayFor(m => contractor.FirstName)
            </td>
            <td>
                @Html.DisplayFor(m => contractor.LastName)
            </td>
            <td>
                @for (int i = 0; i < contractor.Skills.Count; i++) {
                    if (ViewBag.SearchTerm == contractor.Skills.ElementAt(i).Name) {
                        if (i == contractor.Skills.Count - 1) {
                            <span><strong>@contractor.Skills.ElementAt(i).Name</strong></span>
                        }
                        else {
                            <span><strong>@contractor.Skills.ElementAt(i).Name</strong>,</span>
                        }
                    }
                    else {
                        if (i == contractor.Skills.Count - 1) {
                            <span>@contractor.Skills.ElementAt(i).Name</span>
                        }
                        else {
                            <span>@contractor.Skills.ElementAt(i).Name,</span>
                        }
                    }
                }
            </td>
        </tr>
    }

</table>
