@model IEnumerable<Contractor>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
    </tr>

    @foreach (var contractor in Model) {
        <tr>
            <td>
                @Html.DisplayFor(m => contractor.FirstName)
            </td>
            <td>
                @Html.DisplayFor(m => contractor.LastName)
            </td>
            <td>
                @{
                    var totalSkills = contractor.Skills.Count;
                    for (int i = 0; i < totalSkills; i++) {
                        var contractorSkillName = contractor.Skills.ElementAt(i).Name;
                        var lastIndex = contractor.Skills.Count - 1;
                        if (ViewBag.SearchTerm == contractorSkillName && ViewBag.SearchTerm != null) {
                            if (i == lastIndex) {
                                <span><strong> @contractorSkillName</strong ></span>
                            }
                            else {
                                <span><strong> @contractorSkillName</strong>,</span>
                            }
                        }
                        else {
                            if (i == lastIndex) {
                                <span> @contractorSkillName</span>
                            }
                            else {
                                <span> @contractorSkillName,</span>
                            }
                        }
                    }
                }
            </td>
        </tr>
    }
</table>
