@model IEnumerable<Contractor>


@foreach(var contractor in Model) {
    <div class="modal fade" id="con-@contractor.ID" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@Html.DisplayFor(c => contractor.FirstName)'s Details 
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1">
                            <p><strong>@Html.DisplayNameFor(model => model.FirstName)</strong>: @Html.DisplayFor(m => contractor.FirstName)</p>
                            <p><strong>@Html.DisplayNameFor(model => model.LastName)</strong>: @Html.DisplayFor(m => contractor.LastName)</p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Skills)</strong>@Html.DisplayNameFor(model => model.Skills): @foreach(var s in contractor.Skills) {
                                    <ul>
                                        <li>@s.Name</li><!-- order by alpha -->
                                    </ul>
                                    }
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p><strong>Email</strong>:</p>
                            <p><strong>Primary Phone</strong>:</p>
                            <p><strong>Cell Phone</strong>:</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Email</button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-send"></span> Hire Request</button>
                </div>
            </div>
        </div>
    </div> 
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
        <th></th>
    </tr>

    @foreach (var contractor in Model) {
        <tr>
            <td>
                @Html.DisplayFor(m => contractor.FirstName)
            </td>
            <td>
                @Html.DisplayFor(m => contractor.LastName)
            </td>
            <td>

                @{var totalSkills = contractor.Skills.Count;
                    var searchedSkills = ViewBag.ConvertedIds;
                    if (totalSkills > 5) {
                        totalSkills = 5;
                    }
                    //For skill in a given contractor list it, if it was searched for, bold it
                    for (int i = 0; i < totalSkills; i++) {
                        var contractorSkillId = contractor.Skills.ElementAt(i).SkillId;
                        var contractorSkillName = contractor.Skills.ElementAt(i).Name;
                        var lastIndex = contractor.Skills.Count - 1;
                        if (i < searchedSkills.Count) {
                            if (i == lastIndex) {
                                <span><strong> @contractorSkillName</strong></span>
                            }
                            else {
                                <span><strong> @contractorSkillName</strong>,</span>
                            }
                        }
                        else if (i == lastIndex) {
                                <span> @contractorSkillName </span>
                                }
                        else {
                                <span> @contractorSkillName,</span>
                                }
                    }
                }
            </td>
            <td>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#con-@contractor.ID">
                    Show
                </button>
            </td>
        </tr>
    }
</table>
  
