@using STAR.Web.Models;
@model PositionModel

<h2>Positions</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false);

    <div class="form-horizontal">
        <div class="form-group">
            @*@Html.ValidateFor(x => x.SkillName)*@
            @Html.LabelFor(m => m.PositionName)
            @Html.TextBoxFor(m => m.PositionName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @*@Html.ValidateFor(x => x.Description)*@
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { maxlength = 256, @class = "form-control" })
            <p>Max Description Length is 256</p>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.contractor)
            @if (Model != null && Model.contractor != null && ViewBag.positionID != 0) {
                <p> Current contractor is @Html.DisplayFor(m => m.contractor.FirstName) @Html.DisplayFor(m => m.contractor.LastName).  
                    <button type="button" class="btn btn-default"> Unassign</button>
                </p>

            }
            else
            {
                <p> No contractor currently assigned.</p>
            }
        </div>
        <input type="submit" class="btn btn-primary" />
    </div>
}