@model IEnumerable<PositionModel>

<h2>Positions</h2>

<a href="@Url.Action("Details")" class="btn btn-primary">
    Create New <span class="glyphicon glyphicon-plus"></span>
</a>
<br />
@if ((Model ?? new PositionModel[] { }).Any())
{
    if (Model.Count() == 1)
    {
        <p>There is @Model.Count() position</p>
    }
    else
    {
        <p>There are @Model.Count() positions</p>
    }
}
else
{
    <p>There are no positions: @Html.ActionLink("Add Position", "Details")</p>
}

@foreach (var position in Model)
{
    <div class="modal fade" id="con-@position.ID" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        @Html.DisplayFor(c => position.PositionName)'s Details
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1">
                            <p><strong>@Html.DisplayNameFor(model => model.PositionName)</strong>: @Html.DisplayFor(m => position.PositionName)</p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.Description) </strong>: @Html.DisplayFor(m => position.Description)
                            </p>
                            <p>
                                <strong>@Html.DisplayNameFor(model => model.contractor) </strong>: @Html.DisplayFor(m => position.contractor.FirstName) @Html.DisplayFor(m => position.contractor.LastName)
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p><strong>Company Name</strong>:</p>
                            <p><strong>Phone Number</strong>:</p>
                            <p><strong>Email </strong>:</p>

                        </div>
                    </div>
                </div> 
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AvailableContractors", "Contractor", new { positionId = position.ID })'"><span class="glyphicon glyphicon-minus" ></span> Unassign</button>
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AvailableContractors", "Contractor", new { positionId = position.ID })'"> <span class="glyphicon glyphicon-plus"></span> Assign</button>
                </div>
            </div>
        </div>
    </div>
}



<table class="table">
    <tr>
        <th> Quick View </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Availability
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <button type="button" class="btn btn-default glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#con-@item.ID"></button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td align="left">
                @if (item.contractor == null)
                {
                    <span style="color: green"> Available </span>
                }
                else
                {
                    <span> Filled </span>
                }

            </td>
            <td align="left">
                @Html.ActionLink("Assign", "AvailableContractors", "Contractor", new { positionId = item.ID }, null) |
                @Html.ActionLink("Update", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
