@model IEnumerable<STAR.Domain.Contractor>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@section scripts {
    <script type="text/javascript">


    $(function (){
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetSkills")'
        });
    });
    </script>
}
<label>First name: <input type="text" name="fname"></label>
<br>
  <label>Last name: <input type="text" name="lname"></label>
<br>
<br>


<label>Skills Search: </label>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    @Html.TextBox("searchTerm", null, new { id = "txtSearch" })

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
    </tr>

@if (Model != null)
{
    foreach (var contractor in Model)
    {
        <tr>
            <td>
                @for (int i = 0; i < contractor.Skills.Count; i++)
                {
                    if (ViewBag.SearchTerm == contractor.Skills.ElementAt(i).Name)
                    {
                        if (i == contractor.Skills.Count - 1)
                        {
                            <span><strong>@contractor.Skills.ElementAt(i).Name</strong></span>
                        }
                        else
                        {
                            <span><strong>@contractor.Skills.ElementAt(i).Name</strong>,</span>
                        }
                    }
                    else
                    {
                        if (i == contractor.Skills.Count - 1)
                        {
                            <span>@contractor.Skills.ElementAt(i).Name</span>
                        }
                        else
                        {
                            <span>@contractor.Skills.ElementAt(i).Name,</span>
                        }
                    }
                }
            </td>
        </tr>
    }
}

</table>


<div id="buttons">
    <button id="savebutton" onclick="window.location"skills.cshtml">SAVE</button>
    <input type="button" value="CANCEL" onclick="window.location.href='./'" />
</div>